n8n/marketing-approval-resume.workflow.json
{
  "name": "marketing-approval-resume",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-approval-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ],
      "webhookId": "marketing-approval-resume"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "job_id",
              "value": "={{$json.body?.job_id || $json.job_id || ''}}"
            },
            {
              "name": "tenant_id",
              "value": "={{$json.body?.tenant_id || $json.tenant_id || ''}}"
            },
            {
              "name": "approval_json",
              "value": "={{JSON.stringify($json.body?.approval || $json.approval || {})}}"
            }
          ],
          "boolean": [
            {
              "name": "resume_publish_if_needed",
              "value": "={{$json.body?.resume_publish_if_needed ?? $json.resume_publish_if_needed ?? true}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.job_id}}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{(JSON.parse($json.approval_json || '{}').decision || '')}}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{String(JSON.parse($json.approval_json || '{}').decision || '').toLowerCase()}}",
              "operation": "equal",
              "value2": "approved"
            }
          ]
        }
      },
      "id": "3",
      "name": "Validate Approval Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', reason: 'invalid_input_or_decision', code: 'job_id_and_approval_decision_required', details: { required: ['job_id','approval.decision=approved'] } } }}"
      },
      "id": "4",
      "name": "Respond Invalid Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -320,
        160
      ]
    },
    {
      "parameters": {
        "command": "set -euo pipefail\nROOT=\"{{$env.PROJECT_ROOT || '/data/aries-platform-bootstrap'}}\"\nJOB_ID=\"{{$node['Normalize Input'].json.job_id}}\"\nTENANT_ID=\"{{$node['Normalize Input'].json.tenant_id}}\"\nAPPROVAL='{{$node[\"Normalize Input\"].json.approval_json}}'\nRESUME_PUBLISH='{{$node[\"Normalize Input\"].json.resume_publish_if_needed}}'\nJOB_PATH=\"$ROOT/generated/draft/marketing-jobs/${JOB_ID}.json\"\nnode -e \"const fs=require('fs');const p=process.argv;const now=new Date().toISOString();const jobPath=p[1];const tenantInput=p[2]||'';const approval=JSON.parse(p[3]||'{}');const resumePublish=String(p[4]).toLowerCase()==='true';const stageOrder=['research','strategy','production','publish'];const validStageStates=new Set(['pending','queued','running','paused','waiting_approval','blocked','completed','failed','skipped']);if(!fs.existsSync(jobPath)){process.stdout.write(JSON.stringify({status:'error',reason:'job_not_found',code:'missing_job_runtime',http_code:404,details:{job_runtime_path:jobPath}}));process.exit(0);}const raw=fs.readFileSync(jobPath,'utf8');let job;try{job=JSON.parse(raw);}catch(e){process.stdout.write(JSON.stringify({status:'hard_failure',reason:'invalid_job_runtime_json',code:'job_runtime_parse_failed',http_code:500,details:{job_runtime_path:jobPath,message:e.message}}));process.exit(0);}const decision=String(approval.decision||'').toLowerCase();if(decision!=='approved'){process.stdout.write(JSON.stringify({status:'rejected',reason:'approval_not_granted',code:'decision_not_approved',http_code:409,job_id:job.job_id||null,tenant_id:job.tenant_id||tenantInput||null,details:{decision}}));process.exit(0);}if(typeof job.outputs!=='object'||job.outputs===null)job.outputs={};if(typeof job.outputs.stage_status!=='object'||job.outputs.stage_status===null)job.outputs.stage_status={};const stageStatus=job.outputs.stage_status;const transitions=[];const resumed=[];const skipped=[];const repairs=[];const approvedStages=Array.isArray(approval.approved_stages)?approval.approved_stages.map(s=>String(s).toLowerCase()):[];const approvedAll=approvedStages.length===0;const isApproved=(s)=>approvedAll||approvedStages.includes(s);for(const stage of stageOrder){const current=stageStatus[stage];if(typeof current==='undefined'){stageStatus[stage]='paused';repairs.push({stage,repair:'initialize_missing_stage_status',from:null,to:'paused'});}else if(typeof current!=='string'||!validStageStates.has(current)){const prev=typeof current==='string'?current:JSON.stringify(current);stageStatus[stage]='paused';repairs.push({stage,repair:'coerce_invalid_stage_status',from:prev,to:'paused'});} }for(const stage of stageOrder){const from=stageStatus[stage];if((from==='paused'||from==='waiting_approval'||from==='blocked')&&isApproved(stage)){stageStatus[stage]='queued';transitions.push({stage,from,to:'queued',reason:'approval_granted'});resumed.push(stage);}else{skipped.push({stage,status:from,reason:isApproved(stage)?'not_paused':'not_in_approved_stages'});} }const priorDone=stageOrder.slice(0,3).every(s=>stageStatus[s]==='completed'||stageStatus[s]==='queued'||stageStatus[s]==='running');if(resumePublish&&priorDone&&stageStatus.publish==='pending'){stageStatus.publish='queued';transitions.push({stage:'publish',from:'pending',to:'queued',reason:'resume_publish_if_needed'});if(!resumed.includes('publish'))resumed.push('publish');}if(!Array.isArray(job.history))job.history=[];job.state='running';job.status='running';job.updated_at=now;job.outputs.approval_resume={decision:'approved',approved_by:approval.approved_by||'unknown',approved_at:approval.approved_at||now,resume_publish_if_needed:resumePublish,resumed_stages:resumed,skipped_stages:skipped,stage_transitions:transitions,repairs};job.history.push({at:now,state:'running',status:'running',note:`approval resume applied; resumed=${resumed.join(',')||'none'}`});if(tenantInput&&job.tenant_id&&tenantInput!==job.tenant_id){repairs.push({scope:'tenant_id',repair:'input_tenant_mismatch_ignored',input_tenant_id:tenantInput,job_tenant_id:job.tenant_id});}fs.writeFileSync(jobPath,JSON.stringify(job,null,2));process.stdout.write(JSON.stringify({status:'resumed',job_id:job.job_id||null,tenant_id:job.tenant_id||tenantInput||null,decision:'approved',resumed_stages:resumed,stage_transitions:transitions,repairs,job_runtime_path:jobPath,http_code:200}));\" \"$JOB_PATH\" \"$TENANT_ID\" \"$APPROVAL\" \"$RESUME_PUBLISH\""
      },
      "id": "5",
      "name": "Resume Approved Stages",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -320,
        -60
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "result_json",
              "value": "={{$json.stdout || '{}'}}"
            }
          ]
        }
      },
      "id": "6",
      "name": "Parse Resume Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -100,
        -60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ (JSON.parse($json.result_json || '{}').status || '') }}",
              "operation": "equal",
              "value2": "resumed"
            }
          ]
        }
      },
      "id": "7",
      "name": "Resume Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        -60
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.result_json || '{}') }}"
      },
      "id": "8",
      "name": "Respond Resumed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        340,
        -140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.result_json || '{}') }}"
      },
      "id": "9",
      "name": "Respond Non-Resumed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        340,
        40
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Approval Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Approval Input": {
      "main": [
        [
          {
            "node": "Resume Approved Stages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Approved Stages": {
      "main": [
        [
          {
            "node": "Parse Resume Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume Result": {
      "main": [
        [
          {
            "node": "Resume Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Succeeded": {
      "main": [
        [
          {
            "node": "Respond Resumed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Non-Resumed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}