n8n/marketing-research.workflow.json
{
  "name": "marketing-research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ],
      "webhookId": "marketing-research"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{$json.body?.tenant_id || $json.tenant_id}}"
            },
            {
              "name": "job_type",
              "value": "={{$json.body?.job_type || $json.job_type || 'marketing_research'}}"
            }
          ],
          "json": [
            {
              "name": "request",
              "value": "={{$json.body?.request || $json.request || {}}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.tenant_id}}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{$json.job_type}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "3",
      "name": "Validate Required Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', reason: 'invalid_input', code: 'missing_required_fields', required: ['tenant_id','job_type'] } }}"
      },
      "id": "4",
      "name": "Respond Invalid Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -320,
        160
      ]
    },
    {
      "parameters": {
        "command": "set -euo pipefail\nROOT=\"{{$env.PROJECT_ROOT || '/data/aries-platform-bootstrap'}}\"\nTENANT_SCHEMA=\"$ROOT/specs/tenant_runtime_state_schema.v1.json\"\nJOB_SCHEMA=\"$ROOT/specs/job_runtime_state_schema.v1.json\"\nmissing=\"\"\nfor f in \"$TENANT_SCHEMA\" \"$JOB_SCHEMA\"; do\n  if [ ! -f \"$f\" ]; then\n    if [ -n \"$missing\" ]; then missing=\"$missing, \"; fi\n    missing=\"$missing$f\"\n  fi\ndone\nif [ -n \"$missing\" ]; then\n  echo \"{\\\"status\\\":\\\"hard_failure\\\",\\\"code\\\":\\\"missing_input_schemas\\\",\\\"message\\\":\\\"Required schema files are missing\\\",\\\"missing\\\":\\\"$missing\\\"}\"\n  exit 1\nfi\nnode -e \"const fs=require('fs');JSON.parse(fs.readFileSync(process.argv[1],'utf8'));JSON.parse(fs.readFileSync(process.argv[2],'utf8'));process.stdout.write(JSON.stringify({status:'ok',tenant_schema:process.argv[1],job_schema:process.argv[2]}));\" \"$TENANT_SCHEMA\" \"$JOB_SCHEMA\""
      },
      "id": "5",
      "name": "Assert Shared Schemas",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -320,
        -60
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.exitCode || 0}}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "id": "6",
      "name": "Schemas Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        -60
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const out = $node['Assert Shared Schemas'].json.stdout || '{}'; let parsed; try { parsed = JSON.parse(out); } catch (e) { parsed = { status: 'hard_failure', code: 'invalid_schema_files', message: out || 'schema parse failed' }; } return { status: 'hard_failure', reason: 'missing_or_invalid_schemas', code: parsed.code || 'invalid_schema_files', details: parsed }; })() }}"
      },
      "id": "7",
      "name": "Respond Hard Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        120,
        120
      ]
    },
    {
      "parameters": {
        "command": "set -euo pipefail\nROOT=\"{{$env.PROJECT_ROOT || '/data/aries-platform-bootstrap'}}\"\nTENANT_ID=\"{{$node['Normalize Input'].json.tenant_id}}\"\nJOB_TYPE=\"{{$node['Normalize Input'].json.job_type}}\"\nREQ='{{JSON.stringify($node[\"Normalize Input\"].json.request)}}'\nNOW=\"$(date -u +%Y-%m-%dT%H:%M:%SZ)\"\nJOB_ID=\"mkt_${TENANT_ID}_$(date +%s)\"\nOUT_DIR=\"$ROOT/generated/draft/marketing-jobs\"\nOUT_PATH=\"$OUT_DIR/${JOB_ID}.json\"\nmkdir -p \"$OUT_DIR\"\nnode -e \"const fs=require('fs');const p=process.argv;const doc={schema_name:'job_runtime_state_schema',schema_version:'1.0.0',job_id:p[1],job_type:p[2],tenant_id:p[3],state:'queued',status:'pending',attempt:1,max_attempts:3,inputs:{request:JSON.parse(p[4])},history:[{at:p[5],state:'queued',status:'pending',note:'marketing research workflow accepted job'}],created_at:p[5],updated_at:p[5]};fs.writeFileSync(p[6],JSON.stringify(doc,null,2));process.stdout.write(JSON.stringify({status:'accepted',tenant_id:p[3],job_type:p[2],job_id:p[1],job_state:'queued',job_runtime_path:p[6]}));\" \"$JOB_ID\" \"$JOB_TYPE\" \"$TENANT_ID\" \"$REQ\" \"$NOW\" \"$OUT_PATH\""
      },
      "id": "8",
      "name": "Create Marketing Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        120,
        -140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.stdout) }}"
      },
      "id": "9",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        340,
        -140
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Required Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Input": {
      "main": [
        [
          {
            "node": "Assert Shared Schemas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert Shared Schemas": {
      "main": [
        [
          {
            "node": "Schemas Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schemas Ready": {
      "main": [
        [
          {
            "node": "Create Marketing Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Hard Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Marketing Job": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}