n8n/marketing-repair.workflow.json
{
  "name": "marketing-repair",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-repair",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        0
      ],
      "webhookId": "marketing-repair"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{$json.body?.tenant_id || $json.tenant_id}}"
            },
            {
              "name": "job_id",
              "value": "={{$json.body?.job_id || $json.job_id}}"
            },
            {
              "name": "job_runtime_path",
              "value": "={{$json.body?.job_runtime_path || $json.job_runtime_path}}"
            },
            {
              "name": "failed_stage",
              "value": "={{$json.body?.failed_stage || $json.failed_stage}}"
            },
            {
              "name": "defect_report",
              "value": "={{$json.body?.defect_report || $json.defect_report || ''}}"
            },
            {
              "name": "request_json",
              "value": "={{JSON.stringify($json.body?.request || $json.request || {})}}"
            }
          ],
          "number": [
            {
              "name": "attempt",
              "value": "={{$json.body?.attempt || $json.attempt || 1}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Normalize Repair Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.tenant_id}}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{$json.job_id}}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{$json.job_runtime_path}}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{$json.failed_stage}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "id": "3",
      "name": "Validate Required Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', reason: 'invalid_input', code: 'missing_required_fields', required: ['tenant_id','job_id','job_runtime_path','failed_stage'] } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "4",
      "name": "Respond Invalid Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -320,
        180
      ]
    },
    {
      "parameters": {
        "command": "set -euo pipefail\nTENANT_ID='{{$node['Normalize Repair Input'].json.tenant_id}}'\nJOB_ID='{{$node['Normalize Repair Input'].json.job_id}}'\nPATH_IN='{{$node['Normalize Repair Input'].json.job_runtime_path}}'\nFAILED_STAGE='{{$node['Normalize Repair Input'].json.failed_stage}}'\nATTEMPT='{{$node['Normalize Repair Input'].json.attempt}}'\nDEFECT='{{$node['Normalize Repair Input'].json.defect_report}}'\nREQUEST_JSON='{{$node['Normalize Repair Input'].json.request_json}}'\nNOW='$(date -u +%Y-%m-%dT%H:%M:%SZ)'\nexport TENANT_ID JOB_ID PATH_IN FAILED_STAGE ATTEMPT DEFECT REQUEST_JSON NOW\nnode <<'NODE'\nconst fs = require('fs');\nconst tenantId = process.env.TENANT_ID;\nconst jobId = process.env.JOB_ID;\nconst pathIn = process.env.PATH_IN;\nconst stage = process.env.FAILED_STAGE;\nconst attempt = Number(process.env.ATTEMPT || 1);\nconst defectInput = process.env.DEFECT || '';\nconst req = JSON.parse(process.env.REQUEST_JSON || '{}');\nconst now = process.env.NOW;\nconst maxAttempts = 3;\nconst doc = JSON.parse(fs.readFileSync(pathIn, 'utf8'));\ndoc.status_updates = Array.isArray(doc.status_updates) ? doc.status_updates : [];\ndoc.defect_reports = Array.isArray(doc.defect_reports) ? doc.defect_reports : [];\nconst push = (state, status, step, details) => doc.status_updates.push({ at: now, state, status, step, details });\npush('repair_running', 'in_progress', 'repair_started', { attempt, failed_stage: stage });\npush('stage_patching', 'in_progress', 'patch_failed_stage_section', { scope: 'only_failed_stage_section', stage });\ndoc.production = doc.production || {};\ndoc.production.parallel_branches = doc.production.parallel_branches || {};\nconst branch = doc.production.parallel_branches[stage] || {};\ndoc.production.parallel_branches[stage] = {\n  ...branch,\n  state: 'repair_patched',\n  status: 'ready_for_rerun',\n  last_patch: { at: now, attempt, patch_scope: 'only_failed_stage_section', defect_report: defectInput }\n};\npush('stage_rerun', 'in_progress', 'rerun_failed_stage_only', { scope: 'only_failed_stage', stage });\nconst rerunStatus = req.simulate_stage_failure ? 'fail' : 'pass';\nif (rerunStatus === 'pass') {\n  doc.production.parallel_branches[stage] = {\n    ...doc.production.parallel_branches[stage],\n    state: 'completed',\n    status: 'success',\n    last_rerun: { at: now, attempt, rerun_scope: 'only_failed_stage', result: 'pass' }\n  };\n  doc.state = 'completed';\n  doc.status = 'success';\n  push('completed', 'success', 'repair_completed', { stage, attempt });\n} else {\n  doc.production.parallel_branches[stage] = {\n    ...doc.production.parallel_branches[stage],\n    state: 'failed',\n    status: 'failed',\n    last_rerun: { at: now, attempt, rerun_scope: 'only_failed_stage', result: 'fail' }\n  };\n  const defect = {\n    at: now,\n    attempt,\n    stage,\n    code: 'stage_rerun_failed',\n    message: 'Failed stage rerun after bounded patch',\n    evidence: {\n      rerun_scope: 'only_failed_stage',\n      patch_scope: 'only_failed_stage_section',\n      input_defect_report: defectInput || null\n    }\n  };\n  doc.defect_reports.push(defect);\n  if (attempt < maxAttempts) {\n    doc.state = 'awaiting_retry';\n    doc.status = 'retry_scheduled';\n    push('awaiting_retry', 'pending', 'retry_remaining', { attempt, next_attempt: attempt + 1, max_attempts: maxAttempts });\n  } else {\n    doc.state = 'failed';\n    doc.status = 'failed';\n    push('failed', 'failed', 'max_attempts_reached', { attempt, max_attempts: maxAttempts });\n  }\n}\ndoc.attempt = attempt;\ndoc.max_attempts = maxAttempts;\ndoc.updated_at = now;\ndoc.history = doc.status_updates;\nfs.writeFileSync(pathIn, JSON.stringify(doc, null, 2));\nconst out = {\n  status: rerunStatus === 'pass' ? 'pass' : 'fail',\n  tenant_id: tenantId,\n  job_id: jobId,\n  job_runtime_path: pathIn,\n  failed_stage: stage,\n  attempt,\n  job_state: doc.state,\n  patched_section: 'production.parallel_branches.' + stage,\n  rerun_scope: 'only_failed_stage',\n  max_attempts: maxAttempts,\n  max_attempts_reached: rerunStatus === 'fail' && attempt >= maxAttempts,\n  status_updates: doc.status_updates,\n  defect_reports: doc.defect_reports\n};\nprocess.stdout.write(JSON.stringify(out));\nNODE"
      },
      "id": "5",
      "name": "Patch + Rerun Failed Stage",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -320,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.stdout}}",
              "operation": "contains",
              "value2": "\"status\":\"pass\""
            }
          ]
        }
      },
      "id": "6",
      "name": "Stage Repair Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -100,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($node['Patch + Rerun Failed Stage'].json.stdout) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7",
      "name": "Respond Repair Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        120,
        -180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node['Normalize Repair Input'].json.attempt}}",
              "operation": "smaller",
              "value2": 3
            }
          ]
        }
      },
      "id": "8",
      "name": "Retry Remaining?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        20
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "tenant_id",
              "value": "={{$node['Normalize Repair Input'].json.tenant_id}}"
            },
            {
              "name": "job_id",
              "value": "={{$node['Normalize Repair Input'].json.job_id}}"
            },
            {
              "name": "job_runtime_path",
              "value": "={{$node['Normalize Repair Input'].json.job_runtime_path}}"
            },
            {
              "name": "failed_stage",
              "value": "={{$node['Normalize Repair Input'].json.failed_stage}}"
            },
            {
              "name": "defect_report",
              "value": "={{ (() => { const out = JSON.parse($node['Patch + Rerun Failed Stage'].json.stdout); const latest = out.defect_reports?.[out.defect_reports.length - 1] || null; return latest ? JSON.stringify(latest) : ($node['Normalize Repair Input'].json.defect_report || ''); })() }}"
            },
            {
              "name": "request_json",
              "value": "={{$node['Normalize Repair Input'].json.request_json}}"
            }
          ],
          "number": [
            {
              "name": "attempt",
              "value": "={{$node['Normalize Repair Input'].json.attempt + 1}}"
            }
          ]
        }
      },
      "id": "9",
      "name": "Increment Attempt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        340,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.N8N_BASE_URL || 'http://localhost:5678') + '/webhook/marketing-repair'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tenant_id: $json.tenant_id, job_id: $json.job_id, job_runtime_path: $json.job_runtime_path, failed_stage: $json.failed_stage, defect_report: $json.defect_report, attempt: $json.attempt, request: JSON.parse($json.request_json || '{}') } }}",
        "options": {}
      },
      "id": "10",
      "name": "Retry Failed Stage Repair",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        560,
        20
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'retry_complete', prior_attempt: $node['Normalize Repair Input'].json.attempt, retry_response: $json } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "11",
      "name": "Respond Retry Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($node['Patch + Rerun Failed Stage'].json.stdout) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "12",
      "name": "Respond Repair Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        340,
        180
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Repair Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Repair Input": {
      "main": [
        [
          {
            "node": "Validate Required Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Input": {
      "main": [
        [
          {
            "node": "Patch + Rerun Failed Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch + Rerun Failed Stage": {
      "main": [
        [
          {
            "node": "Stage Repair Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Repair Passed?": {
      "main": [
        [
          {
            "node": "Respond Repair Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Remaining?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Remaining?": {
      "main": [
        [
          {
            "node": "Increment Attempt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Repair Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Attempt": {
      "main": [
        [
          {
            "node": "Retry Failed Stage Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Failed Stage Repair": {
      "main": [
        [
          {
            "node": "Respond Retry Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}