n8n/tenant-repair.workflow.json
{
  "name": "tenant-repair",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tenant-repair",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-980, 0],
      "webhookId": "tenant-repair"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "artifact_path", "value": "={{$json.body?.artifact_path || $json.artifact_path}}" },
            { "name": "defect_report", "value": "={{$json.body?.defect_report || $json.defect_report}}" }
          ],
          "number": [
            { "name": "attempt", "value": "={{$json.body?.attempt || $json.attempt || 1}}" }
          ]
        }
      },
      "id": "2",
      "name": "Normalize Repair Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-760, 0]
    },
    {
      "parameters": {
        "command": "set -euo pipefail\nROOT=\"{{$env.PROJECT_ROOT || '/data/aries-platform-bootstrap'}}\"\nART=\"{{$json.artifact_path}}\"\nDEFECT=\"{{$json.defect_report}}\"\nATTEMPT=\"{{$json.attempt}}\"\nLOG=\"$ROOT/generated/draft/repair-attempts.log\"\nmkdir -p \"$ROOT/generated/draft\"\nprintf '%s openclaw_repair attempt=%s artifact=%s defect=%s\\n' \"$(date -u +%Y-%m-%dT%H:%M:%SZ)\" \"$ATTEMPT\" \"$ART\" \"$DEFECT\" >> \"$LOG\"\nopenclaw status >/dev/null 2>&1 || true\necho \"{\\\"openclaw_repair_invoked\\\":true,\\\"attempt\\\":$ATTEMPT,\\\"artifact_path\\\":\\\"$ART\\\",\\\"defect_report\\\":\\\"$DEFECT\\\"}\""
      },
      "id": "3",
      "name": "Invoke OpenClaw Repair Step",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-540, 0]
    },
    {
      "parameters": {
        "command": "set -euo pipefail\nROOT=\"{{$env.PROJECT_ROOT || '/data/aries-platform-bootstrap'}}\"\nART=\"{{$node['Normalize Repair Input'].json.artifact_path}}\"\nATTEMPT=\"{{$node['Normalize Repair Input'].json.attempt}}\"\nREPORT=\"$ROOT/generated/draft/repair-validation-attempt-${ATTEMPT}.json\"\nnode --experimental-strip-types \"$ROOT/validators/tenant_provisioning_workspace_validator.ts\" --target-root \"$ART\" --report \"$REPORT\" > /tmp/repair-validator-${ATTEMPT}.json || true\nnode -e \"const fs=require('fs');const r=JSON.parse(fs.readFileSync(process.argv[1],'utf8'));process.stdout.write(JSON.stringify({status:r.status,failed_checks:r.failed_checks,defect_count:(r.defects||[]).length,report_path:process.argv[1]}));\" \"$REPORT\""
      },
      "id": "4",
      "name": "Re-run Validator",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-320, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{$json.stdout}}", "operation": "contains", "value2": "\"status\":\"pass\"" }
          ]
        }
      },
      "id": "5",
      "name": "Repair Validation Passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-100, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'pass', artifact_path: $node['Normalize Repair Input'].json.artifact_path, attempt: $node['Normalize Repair Input'].json.attempt, validation_status: 'pass', validator: JSON.parse($node['Re-run Validator'].json.stdout) } }}",
        "options": { "responseCode": 200 }
      },
      "id": "6",
      "name": "Respond Repair Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [120, -120]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{$node['Normalize Repair Input'].json.attempt}}", "operation": "smaller", "value2": 3 }
          ]
        }
      },
      "id": "7",
      "name": "Retry Remaining",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [120, 80]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "artifact_path", "value": "={{$node['Normalize Repair Input'].json.artifact_path}}" },
            { "name": "defect_report", "value": "={{$node['Normalize Repair Input'].json.defect_report}}" }
          ],
          "number": [
            { "name": "attempt", "value": "={{$node['Normalize Repair Input'].json.attempt + 1}}" }
          ]
        }
      },
      "id": "8",
      "name": "Increment Attempt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [340, 20]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.N8N_BASE_URL || 'http://localhost:5678') + '/webhook/tenant-repair'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { artifact_path: $json.artifact_path, defect_report: $json.defect_report, attempt: $json.attempt } }}",
        "options": {}
      },
      "id": "9",
      "name": "Retry Repair Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [560, 20],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'retry_complete', artifact_path: $node['Normalize Repair Input'].json.artifact_path, attempt: $node['Normalize Repair Input'].json.attempt, retry_response: $json } }}",
        "options": { "responseCode": 202 }
      },
      "id": "10",
      "name": "Respond Retry Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 20]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'fail', artifact_path: $node['Normalize Repair Input'].json.artifact_path, attempt: $node['Normalize Repair Input'].json.attempt, validation_status: 'fail', max_attempts_reached: true, validator: JSON.parse($node['Re-run Validator'].json.stdout) } }}",
        "options": { "responseCode": 422 }
      },
      "id": "11",
      "name": "Respond Repair Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [340, 180]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Normalize Repair Input", "type": "main", "index": 0 }]] },
    "Normalize Repair Input": { "main": [[{ "node": "Invoke OpenClaw Repair Step", "type": "main", "index": 0 }]] },
    "Invoke OpenClaw Repair Step": { "main": [[{ "node": "Re-run Validator", "type": "main", "index": 0 }]] },
    "Re-run Validator": { "main": [[{ "node": "Repair Validation Passed", "type": "main", "index": 0 }]] },
    "Repair Validation Passed": {
      "main": [
        [{ "node": "Respond Repair Success", "type": "main", "index": 0 }],
        [{ "node": "Retry Remaining", "type": "main", "index": 0 }]
      ]
    },
    "Retry Remaining": {
      "main": [
        [{ "node": "Increment Attempt", "type": "main", "index": 0 }],
        [{ "node": "Respond Repair Failed", "type": "main", "index": 0 }]
      ]
    },
    "Increment Attempt": { "main": [[{ "node": "Retry Repair Workflow", "type": "main", "index": 0 }]] },
    "Retry Repair Workflow": { "main": [[{ "node": "Respond Retry Result", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
