n8n/video-generate.workflow.json
{
  "name": "video-generate",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 260]
    },
    {
      "parameters": {
        "workflowId": "video-job-intake",
        "options": {}
      },
      "id": "executeIntake",
      "name": "Execute Intake",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [420, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.veoSkillBaseUrl || 'https://veo-skill.local/run/request'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { jobId: $json.payload.jobId, prompt: $json.payload.prompt, negativePrompt: $json.payload.negativePrompt, aspectRatio: $json.payload.aspectRatio, durationSec: $json.payload.durationSec, model: $json.payload.model, metadata: $json.payload.metadata } }}"
      },
      "id": "veoRequest",
      "name": "Veo Skill: Request Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 260]
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\nif (!res.operationId && !res.requestId) {\n  throw new Error('Veo request did not return operation identifier');\n}\nreturn [{\n  json: {\n    stage: 'generation_requested',\n    jobId: res.jobId ?? $('Execute Intake').first().json.payload.jobId,\n    operationId: res.operationId ?? res.requestId,\n    approvalRequired: true,\n    approvalStatus: 'pending',\n    repair: $('Execute Intake').first().json.repair,\n    sourcePrompt: $('Execute Intake').first().json.payload.prompt,\n    timestamps: {\n      requestedAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "normalizeRequestResult",
      "name": "Normalize Request Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 260]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Execute Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Intake": {
      "main": [
        [
          {
            "node": "Veo Skill: Request Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo Skill: Request Generation": {
      "main": [
        [
          {
            "node": "Normalize Request Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "purpose": "Kick off Veo generation; polling/approval handled in downstream workflows"
  }
}
