n8n/video-approve.workflow.json
{
  "name": "video-approve",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 280]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.approvalDecision}}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ifApproved",
      "name": "If Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [420, 280]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, finalStatus: 'accepted', approval: { status: 'approved', approvedAt: new Date().toISOString() } } }];"
      },
      "id": "acceptVideo",
      "name": "Accept Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 180]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, finalStatus: 'rejected', approval: { status: 'rejected', rejectedAt: new Date().toISOString(), reason: $json.reason || 'No reason provided' } } }];"
      },
      "id": "rejectVideo",
      "name": "Reject Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 360]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "If Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Approved": {
      "main": [
        [
          {
            "node": "Accept Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "purpose": "Explicit human approval gate before final acceptance"
  }
}
